<!DOCTYPE html>
<html lang="en" >
   <head>
      <meta charset="UTF-8">
      <title>Simple Login</title>
      <link rel="stylesheet" href="./style.css">
   </head>
   <body>
      <form>
         <h1>Buggy Login Page</h1>
         <h3></h3>
         <div class="form-group">
            <input id="username" required="required" class="form-control"/>
            <label class="form-label">Username    </label>
         </div>
         <div class="form-group">
            <input id="password" type="password" required="required" class="form-control"/>
            <label class="form-label">Password</label>
            <br>
            <button class="btn">Login </button>
         </div>
      </form>
      <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>
   </body>
</html>